*{
    margin: 0px;
    padding: 0px;
}
body.home{
    padding: 0;
    margin: 0;
    min-height:100vh;
    /* background-color: rgb(226, 231, 255); */
    background: linear-gradient(to bottom, rgb(20, 3, 50), rgb(67, 10, 104), rgb(115, 35, 162));
    /* background-repeat: no-repeat;
    background-size: cover; */
}
body{
    font-family: 'Lekton', sans-serif;
}
/*navigation bar*/
.logo{
    padding: 10px;
    width: auto;
    float: left;
}
.logo img{
    height: 55px;
}
.homelink{
    display: flex;
    align-items: left;
    gap:10px;
    text-decoration: none;
}
.sitetitle{
    font-size:24px;
    font-weight:700;
    margin-bottom: 0px;
    color:rgb(6, 6, 61);
}
.navbar{
    background-color: rgb(224, 180, 244);
    overflow: hidden;
}
.navbar a{
    float: right;
    color:rgb(43, 4, 52);
    text-align:center;
    margin-top: 10px;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 25px;
}
.navbar a:hover{
    background-color:rgb(172, 243, 176);
    color:rgb(95, 13, 133);
}
.navbar a:active{
    background-color:rgb(109, 212, 174);
    color:rgb(192, 70, 211);
}

/*HOME PAGE*/
.introduction{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-right: 30px;
}
.photo{
    margin-top:50px;
    max-width: 400px;
    border-radius: 50%;
    height: auto;
}
.name{
    font-size:30px;
    font-weight:700;
    align-items:left;
    color:rgb(203, 251, 182);
}
.introduction .text{
    position: relative;
    background:rgb(130, 88, 182);
    color:aliceblue;
    border: 2px solid rgb(106, 76, 162);
    border-radius: 12px;
    padding:25px; /*Internal spacing*/
    box-shadow: 0.3px 4px 12px 0.9px rgba(143, 109, 246, 0.779);
}
/* .introduction .text::before{
    content: "";
    position: absolute;
    padding: 10px;
    height: 28px;
    background: #b164cb;
    border-bottom: 1px solid #1e1ea2;
    border-radius: 20px 20px 0 0;
} */
.intro{
   font-size:18px;
   font-weight: 400;
   line-height:20px;
}

/*HOME - about*/
.aboutsection{
    display:flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;

    background-color:rgb(185, 102, 229);
    border: 3px solid rgb(80, 55, 216);
    border-radius: 15px;
    padding:15px; /*Internal spacing*/
    box-shadow: 0.5px 2px 12px 5px rgba(236, 28, 255, 0.658); /* in order: x offset, y offset, blur size, spread size, color */
}
/* .aboutsection::before{ 
    content: ""; no content, so need to add
    position: absolute; absolute
    top:-20px;
    left:20px;
    border: 2px solid rgb(185, 102, 229);
    border-radius: 10px 10px 0 0;
} */
.abouthead{
    color:rgb(4, 12, 29);
    font-size:50px;
    align-content: top;
}
.aboutme{
    color:rgb(2, 2, 26);
    margin:20px;
}

/*HOME - buttons*/
.button_nav{
    display: flex;
    justify-content: center;
    margin-top: -60px;
    margin-right:500px;
    margin-bottom: 160px;
    gap: 45px;
}
.button_qual{
    display: inline-block;
    text-decoration: none;
    flex-direction: row;
    align-self: center;

    padding: 20px 20px 25px 20px;
    border: 1px outset buttonborder;
    border-radius:3px;

    font-size:20px;
    font-weight:bold;
    color:rgb(21, 21, 108);
    background-color: rgb(223, 165, 250);
}
.button_qual:hover, .button_port:hover, .button_serv:hover, .button_ai:hover{
    /* color:rgb(108, 18, 126); */
    background-color:rgb(191, 241, 218);
}
.button_port{
    display: inline-block;
    text-decoration: none;
    flex-direction: row;
    align-self: center;

    padding: 20px 50px 25px 50px;
    border: 1px outset buttonborder;
    border-radius:3px;

    font-size:20px;
    font-weight:bold;
    color:rgb(21, 21, 108);
    background-color: rgb(223, 165, 250);
}
.button_serv{
    display: inline-block;
    text-decoration: none;
    flex-direction: row;
    align-self: center;

    padding: 20px 60px 25px 60px;
    border: 1px outset buttonborder;
    border-radius:3px;

    font-size:20px;
    font-weight:bold;
    color:rgb(21, 21, 108);
    background-color: rgb(223, 165, 250);
}
.button_ai{
    display: inline-block;
    text-decoration: none;
    flex-direction: row;
    align-self: center;

    padding: 20px 75px 25px 75px; /*top right bottom left */
    border: 1px outset buttonborder;
    border-radius:3px;
    
    font-size:20px;
    font-weight:bold;
    color:rgb(21, 21, 108);
    background-color: rgb(223, 165, 250);
}

/*HOME - contact*/
.contact{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
}
.contacthead{
    float: left;
    margin-left: 50px;
    align-self: center;
    font-size: 30px;
}
.links{
    display:flex;
    margin-left: auto;
    margin-right: 200px;
    gap: 50px
}
.linkedin{
    display:flex;
    flex-direction:row;
    gap: 10px;
}
.linkedin .img{
    height: auto;
    max-width: 50px;
}
.linkedin .link{
    font-size: 15px;
}
.github{
    display:flex;
    flex-direction:row;
    gap: 10px;
}
.github .link{
    font-size: 15px;
}
.github .img{
    height: auto;
    max-width: 50px;
}
.email{
    display:flex;
    flex-direction:row;
    gap: 10px;
}
.email .img{
    height: auto;
    max-width: 50px;
}
.email .link{
    font-size: 15px;
}

/*----------SERVICE---------*/
.titleserv{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:55px;
    margin-top: 40px;
    color:rgb(85, 203, 246);
    text-shadow: -1px 2px 15px rgb(42, 129, 235);
}
body.service{
    min-height:100vh;
    background: linear-gradient(to bottom, rgb(20, 3, 50), rgb(67, 10, 104), rgb(115, 35, 162));
    background-repeat: no-repeat;
    font-family: 'Lekton', sans-serif;
}
.txsef{
    display: flex;
    align-items: center;
    margin:40px;

    background-color:rgba(106, 112, 226, 0.742);
    border-radius: 10px;
    padding: 10px;
}
.txheader{
    font-size:26px;
    font-weight: bolder;
}
.txsef .text{
    display:flex;
    flex-direction: column;
    margin-left: 20px;
}
.txsef .txinfo{
    font-size: 20px;
}
.tx_img{
    margin-top:50px;
    float:left;
    padding: 5px 15px 10px 10px;
    max-width: 400px;
    height: auto;
}

.gis{
    display: flex;
    align-items: center;
    margin:40px;

    background-color:rgba(106, 112, 226, 0.742);
    border-radius: 10px;
    padding: 10px;
}
.gis .text{
    display:flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 20px;
}
.gisheader, .txheader, .bigeventheader{
    margin: 10px;
    font-size: 28px;
    align-items: center;
}
.gis_img{
    margin-top:50px;
    float:left;
    max-width: 400px;
    height: auto;
}

.bigevent{
    display: flex;
    align-items: center;
    margin:40px;
    font-size: 20px;

    background-color:rgba(106, 112, 226, 0.742);
    border-radius: 10px;
    padding: 10px;
}
.bigevent .text{
    display:flex;
    flex-direction: column;
    margin-left: 40px;
}
.beimg{
    margin-top:50px;
    float:left;
    max-width: 400px;
    height: auto;
}

/*-------------PORTFOLIO------------------*/
body.portfolio{
    padding: 0;
    margin: 0;
    min-height:100vh;
    background: linear-gradient(to bottom, rgb(20, 3, 50), rgb(67, 10, 104), rgb(115, 35, 162));
    background-repeat: no-repeat;
    font-family: 'Lekton', sans-serif;
}

/* .cpu{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin:40px;
} */
 /*PORTFOLIO*/
.titleport{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:55px;
    margin-top: 40px;
    margin-bottom:none;

    color:rgb(255, 247, 254);
    text-shadow: -1px 2px 10px rgb(252, 58, 229);
}
/*Research Section*/
.research{
    display: flex;
    align-items: flex-start;
    margin:40px;
    gap: 10px;

    background-color:rgba(71, 197, 247, 0.755);
    /* border: 3px solid rgb(160, 165, 253);*/
    padding:10px;
}
.researchhead{
    display:flex;
    align-items:left;
    justify-content:left;
    margin:20px;
    font-size:35px;

    color:rgb(62, 126, 223);
    text-shadow: -1px 2px 15px rgb(118, 60, 235);
}
.research .images{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px;
}
.aggiephoto1{
    margin-top:25px;
    margin-left:30px;
    float:left;
    max-width: 600px;
    height: auto;
}
.research .text{
    display: flex; 
    flex-direction:column;
    margin: 60px;
    color:rgb(134, 234, 200);
}
.aggielabhead{
    margin: 10px;
    font-size: 28px;
}
.aggielabinfo{
    margin: 10px;
    font-size: 20px;
}

/*Hardware*/
.hardwarehead{
    display:flex;
    align-items:left;
    justify-content:left;
    margin:20px;
    font-size:35px;

    color:rgb(62, 126, 223);
    text-shadow: -1px 2px 15px rgb(118, 60, 235);
}

/*hack plant section*/
.hackplant{ /*default flex direction is row*/
    display:flex; /*allows to style in row/col*/
    align-items:center; /*aligns items to the center horizontally*/
    flex-direction: column;
    margin: 40px; /*creates space between other sections*/
    gap: 10px; /*space between rows/cols inside*/

    background-color:rgba(69, 56, 214, 0.747);
    padding:10px;
}
.hackplant .text{
    display: flex; /*every time you have a parent container, need for children*/
    flex-direction:column; /*allows for col format*/
    order: -1; /*puts text at top without changing html*/
    margin: 60px;
    color:rgb(134, 234, 200);
}
.hackplant .images{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 40px;
}
.hlink{
    color:aliceblue
}
.hack1{
    margin-top:25px;
    margin-left:30px;
    max-width: 600px;
    height: auto;
}
.hack2{
    margin-top:50px;
    margin-left:30px;
    max-width: 400px;
    height: auto;
}
.hackplant .hackplanthead{
    margin-bottom: 10px;
    font-size:28px;
}
.hackplant .hackinfo{
    font-size: 20px;
}

/*CPU*/
.cpu{
    display: flex;
    align-items: flex-start;
    margin:40px;
    gap: 10px;

    background-color:rgb(139, 86, 224);
    padding:10px;
}
.cpu .images{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px;
}
.pipeline1{
    margin-top:25px;
    margin-left:30px;
    float:left;
    max-width: 600px;
    height: auto;
}
.cpu .text{
    display: flex; 
    flex-direction:column;
    margin: 60px;
    border:15px rgb(178, 173, 237);
    color:rgb(134, 234, 200);
}
.cpulink{
    color:aliceblue;
}
.cpuhead{
    margin: 10px;
    font-size: 28px;
}
.cpuinfo{
    margin: 10px;
    font-size: 20px;
}
/* .cpu .images{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px;
} */
/* .pipeline1{
    margin-top:25px;
    margin-left:30px;
    float:left;
    max-width: 600px;
    height: auto;
} */

/*Software*/
.softwarehead{
    display:flex;
    align-items:left;
    justify-content:left;
    margin:20px;
    font-size:35px;

    color:rgb(62, 126, 223);
    text-shadow: -1px 2px 15px rgb(118, 60, 235);
}

/*VEXU*/
.vex{
    display: flex;
    align-items: flex-start;
    margin:40px;
    gap: 10px;

    background-color:rgba(235, 85, 240, 0.791);
    padding:10px;
}
.vex .text{
    display: flex; 
    flex-direction:column;
    margin: 60px;
    color:rgb(134, 234, 200);
}
.vlink, .vlink1, .vlink2{
    color:aliceblue;
}
.vexhead{
    margin: 10px;
    font-size: 28px;
}
.vexinfo{
    margin: 10px;
    font-size: 20px;
}



/* Qualifications */
.titleq{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:55px;
    margin-top: 70px;
    margin-bottom:none;

    color:rgb(128, 246, 181);
    text-shadow: -1px 2px 15px rgb(99, 211, 155);
}
body.qualification{
    padding: 0;
    margin: 0;
    min-height:100vh;
    background: linear-gradient(to bottom, rgb(20, 3, 50), rgb(67, 10, 104), rgb(115, 35, 162));
    background-repeat: no-repeat;
    font-family: 'Lekton', sans-serif;
}
.info{
    margin: 10%;
    gap: 20%;
    display: flex;
    flex-direction:column;
}
.skillinterest{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-bottom:50px;
    gap:50px;
}
.s{
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;

    background-color:#c129cf;
    border: 2px solid rgb(112, 25, 130);
    border-radius: 20px;
    width: 290px;
    height: 385px;
    padding: 25px 20px 20px 20px;
}
.skillshead{
    font-size: 35px;
    padding-right: 25px;
}
.skills{
    font-size: 30px;
    list-style-type: disc;
    display: block;
    gap: 50px;
}
.i{
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;

    background-color:rgb(193, 41, 207);
    border: 2px solid rgb(112, 25, 130);
    border-radius: 20px;
    width: 500px;
    height: 55%;
    padding: 10px 0px 30px 50px;
}
.interesthead{
    margin-top: 50px;
    font-size: 35px;
}
.interests{
    font-size: 30px;
    list-style-type: disc;
    display: block;
}
.resume{
    width: 100%;
    height: 700px;;
    border:2px rgb(37, 46, 127);
}

/*FOOTER*/
.contact{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height: 80px;

    background-color: rgb(237, 166, 249);
    overflow: hidden;
    font-family: 'Lekton', sans-serif;
}
.linkedin .link, .github .link, .email .link{
    margin-top: 10px;
    font-weight: bold;
    color:blueviolet;
}